*{margin:0;padding:0;}

body{
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    position: fixed;
    max-width: 80vw;
    max-height: 80vh;
}

.bg{
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
    width: 200vw;
    height: 200vh;
    position: fixed;
}

#wave{
    mix-blend-mode: screen;
    transform: scale(0);
    opacity: 1;
}

.invisible{
    opacity: 0;
}

.release{
    animation: release 3s;
    animation-timing-function: cubic-bezier(.57,.26,.54,.45);
}

.explode{
    animation: explode 6s;
    animation-timing-function: cubic-bezier(.08,.98,.46,.81);
}

.spin{
    animation: rotation 600s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes release {
      from {
          transform: scale(1) rotate(0deg);
      }
      to {
          transform: scale(0) rotate(180deg);
      }
}

@keyframes explode {
      0% {
          transform: scale(0);
      }
      66% {
          opacity: 1;
          transform: scale(4);
      }
      100% {
          opacity: 0;
          transform: scale(4);
      }
}
